{% load static %}
{% load embed_video_tags %}

<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5">
                <span class="px-2">Video Lectures</span>
            </p>
            <h1 class="mb-4">Popular Classes</h1>
        </div>
        <div class="row">
            <div class="video-grid">
                <div class="video-item">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/RI7kO00e06U?si=VMgqP5CLjp86WLtw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <p>Plus Two Computer Science</p>
                </div>
                <div class="video-item">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/wL0sabn33YY?si=1oqf4O4MJwy7zzgO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <p>Plus One Computer Science</p>
                </div>
                <div class="video-item">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/hwj-bbX8ndY?si=1_E2-62qR38NUljy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <p>Plus One Computer Application</p>
                </div>
                <div class="video-item">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/BJvtIvsxRu8?si=x71ZSHlX06E461Q5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <p>Plus Two Computer Application</p>
                </div>
            </div>
        </div>
        <p class="text-center mt-4">For more videos visit Our YouTube Channel <a href="https://www.youtube.com/@BinusMalayalamTutorials" target="_blank"><span>Binus Malayalam Tutorial</span></a></p>
    </div>
</div>


